/* Fonts */
@font-face {
  font-family: 'Wisdom Script Regular';
  src: url("../fonts/Wisdom Script AJ.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'droid_serifitalic';
  src: url("../fonts/DroidSerif-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*Variables*/
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

section {
  padding: 120px 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin: 0 0 20px 0;
  font-variant: small-caps;
}

h4 {
  font-family: 'droid_serifitalic';
  font-size: 16px;
  color: #777777;
  margin-bottom: 70px;
}

h1 {
  font-size: 40px;
  font-style: italic;
  font-family: 'droid_serifitalic';
  margin: 0;
  color: white;
  font-weight: normal;
}

h2 {
  font-size: 75px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  margin: 10px 0 60px 0;
  color: white;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  max-width: 291px;
  margin-left: auto;
  margin-right: auto;
}

h6 {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  color: #777777;
  font-weight: normal;
}

/* Header */
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  margin: 0 20px;
  font-family: "Montserrat", sans-serif;
  font-variant: small-caps;
  font-size: 14px;
  color: white;
}

.logo {
  font-family: 'Wisdom Script Regular';
  font-size: 26px;
  color: #ffcc33;
}

.navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 55px 230px 0 230px;
  background-color: transparent;
  -ms-flex-align: baseline;
      align-items: baseline;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  background-image: url(https://i.postimg.cc/qgfdyp49/Background-Image.jpg);
  position: relative;
  height: 700px;
  background-size: cover;
  max-width: 1400px;
  background-position: center center;
  background-repeat: no-repeat;
}

.home {
  width: 100%;
  text-align: center;
  margin-bottom: 160px;
  position: absolute;
  top: 270px;
  transform: translateX(-50%, -50%);
}

button {
  height: 65px;
  width: 240px;
  background-color: #ffcc33;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 18px;
  border: none;
  color: white;
  border-radius: 4px;
}

/*Services*/
.services i {
  color: #ffcc33;
  border: 4px solid #ffcc33;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  font-size: 30px;
  line-height: 70px;
}

/*Portfolio*/
.portfolio {
  background-color: #f7f7f7;
}

.port {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.port div {
  position: relative;
  -ms-flex-pack: center;
      justify-content: center;
}

.port div .port img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 291px;
}

.port div h5 {
  background-color: white;
  width: 100%;
  text-align: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 auto;
  padding: 30px 0 0 0;
}

.port div p {
  font-family: 'droid_serifitalic';
  font-style: italic;
  font-size: 14px;
  color: #777777;
  width: 100%;
  max-width: 291px;
  padding: 5px 0 20px 0;
  margin: 0 auto 50px auto;
  background-color: white;
}

/*Footer*/
.footer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px 0;
}

.footer div {
  -ms-flex-pack: center;
      justify-content: center;
}

.footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #777777;
}

.footer ul {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0;
}

.footer ul li {
  font-size: 0px;
  margin: 0 5px;
}

.footer i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #222222;
  color: white;
}

.footer .fa-twitter:hover {
  background-color: #00aced;
}

.footer .fa-facebook-f:hover {
  background-color: #3b5998;
}

.footer .fa-pinterest-p:hover {
  background-color: #cb2028;
}

.footer .fa-google-plus-g:hover {
  background-color: #da2713;
}

/*Media*/
@media (min-width: 520px) and (max-width: 800px) {
  .navigation {
    padding: 50px 50px 0 50px;
  }
}

@media (max-width: 435px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 50px;
  }
  .home {
    margin-bottom: 100px;
  }
}

@media (max-width: 500px) {
  section {
    padding: 80px 0;
  }
}
/*# sourceMappingURL=style.css.map */